# .gitignore

/build/
/rbuild/
/subprojects/packagecache/
/subprojects/nlohmann_json-3.7.0/
/package/linux/trollauncher_*.deb
/package/linux/trollauncher_*/
/tmp/

# For CCLS
/.ccls-cache/
/compile_commands.json
