[submodule "subprojects/libzippp"]
	path = subprojects/libzippp
	url = git@github.com:tprk77/libzippp.git
[submodule "subprojects/date"]
	path = subprojects/date
	url = git@github.com:tprk77/date.git
